<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Matthew's Bluetooth App Test
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back" padding>
  <button ion-button full class="submit-button" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </button>
  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>


  <button ion-button outline block color="dark" name="connectBarcode" *ngIf="showConnectBarcode" (click)="selectDevice3()">Connect Bluetooth Barcode Scanner</button>
  <button ion-button outline block color="dark" name="disconnectBarcode" *ngIf="showDisconnectBarcode" (click)="disconnect3()">Disconnect Bluetooth Barcode Scanner</button>

  <button ion-button outline block color="dark" name="connectReader" *ngIf="showConnectReader" (click)="selectDevice()">Connect Bluetooth Reader</button>
  <button ion-button outline block color="dark" name="disconnectReader" *ngIf="showDisconnectReader" (click)="disconnect()">Disconnect Bluetooth Reader</button>

  <button ion-button outline block color="dark" name="connectWeigher" *ngIf="showConnectWeigher" (click)="selectDevice2()">Connect Bluetooth Weigher</button>
  <button ion-button outline block color="dark" name="disconnectWeigher" *ngIf="showDisconnectWeigher" (click)="disconnect2()">Disconnect Bluetooth Weigher</button>

  <button ion-button outline block color="dark" (click)="sendData()">Request Weight</button>
  <button ion-button outline block color="dark" (click)="sendData1()">Request Weight Stable</button>

  <ion-item>
    <ion-label stacked>Message</ion-label>
    <ion-textarea [(ngModel)]="message"></ion-textarea>
  </ion-item>
</ion-content>